{% extends '@Ludovic/base.html.twig' %}

{% block body %}
    <h1>Sport</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sport.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sport.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sport_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sport_edit', { 'id': sport.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
