{% extends '@Ludovic/base.html.twig' %}

{% block body %}
    <h1>Athlete creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_row(form.photo) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('athlete_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
